$white: #ffffff;
// $black: #000000;
$black: #22272e;

$primary-light: #8abdff;
$primary: #656BEA;
// $primary: #3B4252;
$primary-dark: #040405;
$secondary: #8A2BE2;

$gray: #9b9b9b;
$greyLight-1: #E4EBF5;
$greyLight-2: #c8d0e7;
$greyLight-3: #bec8e4;
$greyDark: #9baacf;
$dark-grey-1: #444c56;
// $dark-grey-2: #22272e;
$dark-grey-2: #2E3440;
$textGray: #adbac7;
$warning: #ff0000;
$success: #A3BE8C;

$input-color: $primary;
$input-color-secondary: $secondary;


$shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;


$inner-shadow: inset .2rem .2rem .5rem $greyLight-2,
inset -.2rem -.2rem .5rem $white;
