@import 'swiper/swiper-bundle.css';
@import "../sass/colors";


*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    // position: fixed;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
}

html,
body {
    height: 100%;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-size: 400px;
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: $white;

    &:hover {
        text-decoration: none;
        color: $white;
    }
}

.empty-container {
    margin-top: 20px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    color: lighten($black, 50%);
}

.section {
    padding: 30px 0;
}

//input

.form-group {
    position: relative;
}

.form-field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown~.form-label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

.form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
}

.form-field-textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
    max-height: 300px;
}

.form-field:focus {
    ~.form-label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $input-color;
        font-weight: 700;
    }

    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $input-color, $input-color-secondary);
    border-image-slice: 1;
}

/* reset input */
.form-field {

    &:required,
    &:invalid {
        box-shadow: none;
    }
}

.form-submit {
    display: flex;
    justify-content: center;

    button {
        width: 100%;
    }
}


//select

.rule {
    margin: 10px 0;
    border: none;
    height: 1.5px;
    background-image: linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0);
}

/* ===== Select Box ===== */
.sel {
    font-size: 1.3rem;
    display: inline-block;
    width: 350px;
    padding: 10px 0;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.sel::before {
    position: absolute;
    content: '\f063';
    padding: 10px 0;
    font-family: 'FontAwesome';
    color: #FFF;
    right: 20px;
    top: calc(50% - 0.5em);
}

.sel.active::before {
    transform: rotateX(-180deg);
}

.sel__placeholder {
    display: block;
    color: #838e95;
    text-align: left;
    pointer-events: none;
    user-select: none;
    visibility: visible;
}

.sel.active .sel__placeholder {
    visibility: hidden;
}

.sel__placeholder::before {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    content: attr(data-placeholder);
    visibility: hidden;
}

.sel.active .sel__placeholder::before {
    visibility: visible;
}

.sel__box {
    position: absolute;
    top: calc(100% + 4px);
    left: -4px;
    display: none;
    list-style-type: none;
    text-align: left;
    background-color: #FFF;
    width: calc(100% + 8px);
    box-sizing: border-box;
}

.sel.active .sel__box {
    display: block;
    animation: fadeInUp 500ms;
}

.sel__box__options {
    display: list-item;
    color: #838e95;
    padding: 0.5em 0.5em;
    user-select: none;
}

.sel__box__options::after {
    content: '\f00c';
    font-family: 'FontAwesome';
    margin-left: 5px;
    display: none;
}

.sel__box__options.selected::after {
    display: inline;
}

.sel__box__options:hover {
    background-color: #ebedef;
}

/* ----- Select Box Black Panther ----- */
.sel {
    border-bottom: 2px solid #9b9b9b;
}

.sel.active {
    border-width: 3px;
    border-image: linear-gradient(to right, #656BEA, #8A2BE2);
    border-image-slice: 1;
}

.sel--black-panther {
    z-index: 3;
}

/* ----- Select Box Superman ----- */
.sel--superman {
    /*   display: none; */
    z-index: 2;
}

/* ===== Keyframes ===== */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.invalid-feedback {
    display: inline-block;
    margin-bottom: 10px;
    color: $warning;
    font-size: 12px;
}

.btn-transparent {
    background-color: transparent;
    color: $white;
}


//Flex
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}


//colors

.dark-link {
    color: $black;
    transition: 0.1s color ease;

    &:hover {
        color: lighten($black, 25%);
    }
}

//pagination 

.pagination {
    display: flex;
    justify-content: center;
    font-size: 16px;

    li {
        list-style: none;
        margin: 0 10px;
        font-weight: bold;

        a {
            color: $black;
            transition: 0.1s color ease;
        }

        svg {
            fill: $black;
            transition: 0.1s fill ease;
        }
    }



    li:hover,
    a:hover {
        color: $primary;

        svg {
            fill: $primary;
        }
    }
}

// .align-items-between {
//     justify-content: space-between;
// }

// .align-items-around {
//     align-items: flex-end;   
// }
