// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@import "../sass/config";
@import "../sass/colors";
@import "../sass/buttons";
@import "../sass/sliders";
@import "../sass/workers/workers";
@import "../sass/vacancies/vacancies";
@import "../sass/chat/chat";
@import "../sass/auth/auth";





.container-fluid {
    // max-width: 1125px;
    max-width: 100%;
    margin: auto;
    height: 100%;
}

.section {
    padding-top: 45px;
}


.header,
.footer {
    background-color: $primary;
}



.header-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 95px;
}

.header-nav {
    display: flex;
    align-items: center;
    color: $white
}

.header-logo {
    margin-right: 25px;
}

.header-nav-item {
    position: relative;
    margin: 0 10px;

}

.header-nav-item::after,
.header-nav-item::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: -5px;
    right: 50%;
    background-color: $white;
    opacity: 0;
    z-index: 1000;
    transition: width ease-out .3s;
}

.header-nav-item::before {
    left: 50%;
}

.header-nav-item:hover.header-nav-item::after,
.header-nav-item:hover.header-nav-item::before {
    opacity: 1;
    width: 50%;
}

.left-line {
    display: inline-flex;
    position: relative;
    height: 100%;
}

.left-line::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    top: -8px;
    right: 0;
    background-color: $white;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    min-height: 158px;
}

.footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: flex-end;
    padding: 20px 0 10px 0;

    .footer-info {
        display: flex;
        justify-content: space-around;
        margin-bottom: 10px;

        .footer__contacts {
            display: flex;
            flex-direction: column;
            color: $white;

            .footer__title {
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}

.footer-copyright {
    display: flex;
    width: 100%;
    justify-content: center;
    color: $white;
}


@media(max-width:1199px) {
    .container-fluid {
        max-width: 100%;
        width: 100%;
        padding: 0 15px;
        margin: auto;
    }
}

// Main home page starts


.container {
    // display: flex;
    // align-items: center;
    // flex-direction: column;
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

.main-banner {
    position: relative;
    width: 100%;
    box-shadow: $shadow;
    margin-bottom: 25px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-banner-description {
        max-width: 50%;

        .banner-header {
            font-weight: bold;
            font-size: 48px;
            line-height: 62px;
            margin-bottom: 10px;
        }

        .banner-subtitle {
            font-weight: bold;
            font-size: 24px;
            line-height: 31px;
            margin-bottom: 15px;
        }

        .banner-text {
            margin: 0;
            font-size: 16px;
            text-align: justify;
            text-indent: 1.5em;
        }

        .banner-text:last-of-type {
            margin-bottom: 20px;
        }

        .banner-btn {}
    }

    .banner-logo {
        display: flex;
        max-width: 30%;
        width: 100%;
        justify-content: center;

        svg {
            fill: $primary;
        }
    }

}

.home-search {
    width: 100%;
    height: 50px;
    box-shadow: $shadow;
    margin-bottom: 20px;
}

.home-search-input {
    width: 100%;
    height: 100%;
    padding: 1.5rem;

}

.home-slider {
    margin-bottom: 60px;
}

.main-workers {
    width: 100%;
}

.workers-header {
    text-align: center;
    font-size: 22px;
    margin-bottom: 25px;
    font-weight: bold;
}

.workers-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.workers-block {
    flex-basis: 40%;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.workers-all {
    display: flex;
    justify-content: center;

    .workers-all-btn {
        height: 30px;
        padding: 5px 10px;
        font-size: 16px;
    }
}

.workers-avatar {
    max-width: 90px;
    min-width: 90px;
    margin-right: 20px;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.workers-info {}

.workers-name {
    font-size: 18px;
    margin-bottom: 10px;
}

.workers-specialization {
    font-size: 16px;
    margin-bottom: 20px;
}

.workers-exp {
    display: flex;
    align-items: center;
}

.exp-logo-container {
    max-width: 22px;
    margin-right: 15px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.workers-exp-label {}

.section-header {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 40px;
}

.section-content {
    padding: 10px 0;
}

.filters {
    .filters-header {
        text-align: center;
        font-size: 16px;
        margin-bottom: 40px;
    }

    .filter-search {
        width: 100%;
        border-radius: 12px;
        border: 1px solid $black;
        padding: 5px;
        font-style: italic;
        margin-bottom: 50px;
    }

    .filters-categories-specialization {
        text-align: center;
        font-size: 16px;
        margin-bottom: 30px;
    }

    .filters-categories-container {
        display: flex;
        flex-wrap: wrap;

        .filters-category-wrapper {
            display: inline;

            .filters-category-checkbox {
                display: none;
            }
        }

        .filters-category {
            margin-right: 10px;
            margin-bottom: 10px;
            height: 30px;
            border-radius: 22px;
            background-color: $primary;
            padding: 10px 15px;
            color: $white;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .filters-category.active {
            background-color: darken($primary, 20%);
        }
    }
}

.tag {
    margin-right: 10px;
    margin-top: 10px;
    height: 30px;
    border-radius: 22px;
    background-color: $primary;
    padding: 10px 15px;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}


.tags-selection-container {}


.tag-input-container {
    position: relative;

    .tag-input-wrapper {

        .tag-input-label {
            color: $gray;
            font-size: 1.3rem;
            margin-bottom: 7px;
        }

        .tag-input {
            display: flex;
            min-height: 40px;
            border-bottom: 2px solid $gray;
            cursor: text;
            flex-wrap: wrap;

            .tag-input-selected-tags {
                display: flex;
                align-items: center;
                list-style: none;
                flex-wrap: wrap;
            }

            .tag-input-item {
                display: flex;
                align-items: center;
                // margin-right: 5px;
                margin: 2px;
                border-radius: 22px;
                background-color: darken($primary, 5%);
                // padding: 5px 10px;
                padding-right: 0;
                padding-left: 10px;
                color: $white;
                cursor: text;
                transition: background-color .1s ease;
            }

            .tag-input-item:hover {
                background-color: darken($primary, 2%);

                .tag-input-item-btn {
                    background-color: lighten($primary, 1%);
                }

                .tag-input-item-btn:hover {
                    background-color: lighten($primary, 4%);
                }
            }

            .tag-checkbox {
                display: none;
            }

            .tag-input-item-name {}

            .tag-input-item-btn {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 5px;
                width: 30px;
                height: 30px;
                background-color: darken($primary, 1%);
                border-radius: 22px;
                transition: background-color .1s ease;
                cursor: pointer;
            }

            .tag-input-field {
                margin-left: 5px;
                max-width: 130px;
                width: 100%;
                min-height: 38px;
                font-size: 14px;
            }

            .suggested-tag-list {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                list-style: none;
                background-color: $dark-grey-2;
                border-radius: 10px;
                z-index: 1000;

                .suggested-tag-item {
                    color: $white;
                    font-size: 16px;
                    padding: 5px 10px;
                    // border: 1px solid $textGray;
                    cursor: pointer;
                }

                .suggested-tag-item:first-of-type {
                    border-radius: 10px 10px 0 0;
                }

                .suggested-tag-item:last-of-type {
                    border-radius: 0 0 10px 10px;
                }

                .suggested-tag-item:hover {
                    background-color: $dark-grey-1;
                }
            }
        }

        .tag-input.focus {
            border-width: 3px;
            border-image: linear-gradient(to right, $input-color, $input-color-secondary);
            border-image-slice: 1;
        }
    }
}
