.form-block {
    margin: auto;
    padding: 20px 20px;
    width: 45%;
    box-shadow: $shadow;
    margin-bottom: 35px;

    .form-group {
        padding: 15px 0 0;
        margin-bottom: 20px;
    }

    .sel {
        margin-bottom: 20px;
        width: 100%;
    }
}
