#view_vacancies {
    .section-content {
        display: flex;
        justify-content: space-between;
    }

    .vacancies-block-container {
        flex-basis: 70%;

        .vacancies-block {
            margin: 0;
            padding: 30px 20px;
            margin-bottom: 30px;
            box-shadow: $shadow;

            .vacancies-name {
                font-size: 18px;
                margin-bottom: 15px;
            }

            .vacancies-description {
                // margin-bottom: 10px;
            }

            .vacancies-tags-container {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }

    .filters {
        flex-basis: 25%;
    }
}
